*.cup
*.egg
*.exe
*.hec
*.IGC
*.json
*.moc
*.wpt
*.zip
/build
/debian/files
/debian/flightrecorder.debhelper.log
/debian/flightrecorder.postinst.debhelper
/debian/flightrecorder.prerm.debhelper
/debian/flightrecorder.substvars
/debian/flightrecorder/
/debian/python-module-stampdir/
/dist
/flightrecorder.egg-info
