*.IGC
*.json
*.zip
/build
/debian/files
/debian/flytec-utils.debhelper.log
/debian/flytec-utils.postinst.debhelper
/debian/flytec-utils.prerm.debhelper
/debian/flytec-utils.substvars
/debian/flytec-utils/
/debian/python-module-stampdir/
